[2016-09-11 17:13] uschtwill opened #1 "CouchDB 2.0 - Compatibility"
This exporter is not yet compatible with CouchDB 2.0, right?

[2016-09-11 17:47] gesellix commented on #1
I didn't verify that, yet, did you? Would be nice if you could give it a try. But we can leave this issue open as reminder.

[2016-09-11 19:51] gesellix commented on #1
note to self: need to check if the described `_stats` api for CouchDB 2.0 is the same as the one for 1.6.

- 1.6: http://docs.couchdb.org/en/stable/api/server/common.html#stats
- 2.0: http://docs.couchdb.org/en/master/api/server/common.html#get--_stats

[2016-09-11 19:52] gesellix commented on #1
@uschtwill do you need more metrics than only the `_stats`?

[2016-09-12 05:40] uschtwill commented on #1
Well, it appears to be exactly the same when looking at the documentation. But any requests to that endpoint fail, even to subordinate endpoints like `/_stats/couchdb/request_time`.
[code]
This actually makes me question, whether this is the right place to ask. Maybe this isn't even an issue with your exporter, but with CouchDB's documentation for 2.0 that's not updated yet? ...or I am just really

[2016-09-12 16:31] gesellix commented on #1
You may be correct assuming that this is not the right place to ask. I also tried to get stats from a single node, which also failed. If you're going to file an issue at the couchdb issue tracker, feel free to paste a link here. I'll then track that issue and update the exporter if necessary.

[2016-09-12 16:32] gesellix opened #2 "add more metrics"
We currently only provide metrics from the `_stats` endpoint, but there's more: see http://gws.github.io/munin-plugin-couchdb/guide-to-couchdb-monitoring.html for a nice overview.

[2016-09-13 10:42] uschtwill commented on #1
Here we go! From #couchdb on freenode:

[code]

[2016-09-13 11:08] gesellix commented on #1
Great, thanks!

To summarize/sanity check: the stats should be fetched either cluster wide or per node. Cluster stats are available at port 5986, which is bound to localhost by default. Node stats are available on port 5984 at `/_node/name/_stats`, where `name`s can be determinded via `_membership`.

I assume that the stats would make more sense on node level, which also means that the metrics wil

[2016-09-13 11:24] uschtwill commented on #1
Nailed it! :)

[2016-09-13 20:03] gesellix commented on #1
proof of concept:

[code]

[2016-09-13 21:16] uschtwill commented on #1
Beautiful!

[2016-09-20 17:02] gesellix commented on #1
note to self: https://blog.couchdb.org/2016/09/20/2-0/

[2016-09-23 08:34] gesellix commented on #1
@uschtwill can you try the latest Docker image? It should work for both single master and clustered CouchDBs. Feedback is highly appreciated!

[2016-09-24 16:42] uschtwill commented on #1
Getting the following in the logs `couchdbstats_1              | E0924 16:40:53.299431       1 collector.go:105] Error collecting stats: Error reading couchdb stats: Status 401 Unauthorized (401): {"error":"unauthorized","reason":"You are not a server admin."}`, and not sure how to set user and password. Also it would be nice to not have to set it of course, if that is still possible with 2.0.

[2016-09-24 17:27] gesellix commented on #1
Sadly, when calling `/_membership` to retrieve the node names in a cluster, you'll need to provide the admin credentials with 2.x. I'm not sure if that's configurable somehow.
You can pass the credentials via `-couchdb.username=root` and `-couchdb.password=a-secret`.
It also appears to me that configuring the credentials via environment instead of cli would make sense... :-)

[2016-09-24 17:29] gesellix commented on #1
P.S.: is the port `5984` in your example compose.yml the correct one for the cluster wide view?

[2016-09-24 18:24] uschtwill commented on #1
Hmm, I am lost... I am using port `5984` cause it's a single node CouchDB, so I thought node stats should be fine. Now, I do get metrics when providing `-couchdb.username=root` and `-couchdb.password=a-secret` but they're not updating correctly: e.g. even if I'm hitting the node with new GET requests, the counter is not going up.

When trying the same with port `5986` I get:
`couchdbstats_1

[2016-09-24 18:38] gesellix commented on #1
Regarding the config via env vars: that's not supported, yet, so the problem is not on your side. I need to use another package to handle reading the config from cli, and env as well.

Can you share your couchdb command line? I use this one for tests:

[code]

I need to investigate a bit to find out whether the non-updating stats are an exporter bug or even a CouchDB issue.

[2016-09-24 18:55] uschtwill commented on #1
Alright, that is reassuring to know. I am using the following `docker-compose.yml`:

[code]

[2016-09-24 21:02] gesellix commented on #1
@uschtwill please give the new image a try. It should now correctly export changed stats.

[2016-09-24 23:58] uschtwill commented on #1
Appears to work. Will do some more testing tomorrow. Cheers!

[2016-09-25 12:00] uschtwill commented on #1
Yep, works as expected. Bravo!

[2016-09-25 15:15] gesellix commented on #1
thanks for beta testing! :-)

[2016-09-25 15:15] #1 closed

[2016-09-25 16:36] uschtwill opened #3 "Config via Environment Variables"
https://github.com/gesellix/couchdb-exporter/issues/1#issuecomment-249380519

Would be pretty handy... ;)

[2016-09-25 16:36] uschtwill commented on #1
Thank you! :)

[2017-05-20 19:35] uschtwill commented on #3
Right... I just stumbled over this one again. :)

[2017-05-20 20:10] gesellix commented on #3
Note to self: this one seems to be the most promising package to read flags via different input methods: https://github.com/namsral/flag. Maybe https://github.com/alecthomas/kingpin or https://github.com/spf13/viper are possible, too.

[2017-05-20 21:44] gesellix commented on #3
@uschtwill please give the latest version a try. Due to backwards compatibility I kept the dot in env variables, which might become a bit uncomfortable when using a shell like bash. You can work around it by running the exporter like this:

    env "COUCHDB.URI=http://localhost:4556" ./couchdb-exporter

[2017-05-21 15:42] uschtwill commented on #3
I am only getting:

[code]

Not sure, if I am missing something...

[2017-05-21 16:57] gesellix commented on #3
Sorry, my bad... that was a little confusion of different flags packages. Should work now!

[2017-05-21 17:42] uschtwill commented on #3
Okay, that works. Thanks! :)

Now, my use case is running the exporter from a docker-compose.yml and providing the CouchDB credentials via env vars from an `env_file`. Unfortunately docker doesn't seem to honor env vars with a dot either?!

What to do? Putting them into the `command:` or `entrypoint:` lines of the docker_compose.yml like your example implies doesn't seem very practical either, giv

[2017-05-21 18:17] gesellix commented on #3
Alright, I'll use [that one](https://github.com/gesellix/couchdb-exporter/issues/1#issuecomment-249381340) as test case again. Stay tuned :)

[2017-05-21 19:25] gesellix commented on #3
🤔 ...

This one works for me: `docker run -it --rm --env-file .couchdb-env -p 9985:9984 --network couchdb-test gesellix/couchdb-exporter -couchdb.uri=http://couchdb:5984/ -logtostderr`.

This one does not:

[code]

[2017-05-21 21:18] gesellix commented on #3
Example docker-compose.yml: https://github.com/gesellix/couchdb-exporter/blob/f06ba7093d9d8bcae0e9f7e83b62026ed92d2477/docker-compose.yml
Setup notes: https://github.com/gesellix/couchdb-exporter/blob/f06ba7093d9d8bcae0e9f7e83b62026ed92d2477/example-setup.md

@uschtwill Please have a look at the linked compose and setup files. I initially forgot to configure the root user, which made the exporter

[2017-05-21 22:39] uschtwill commented on #3
Hmm, it works like a charm now! But you didn't really change anything last time around, did you?

[2017-05-22 14:05] gesellix commented on #3
Correct! Seems like you stumbled on the same issue like me and forgot to initialise your cluster? ;-)

I'll close this issue now, but feel free to re-open is something still isn't working as expected.

[2017-05-22 14:05] #3 closed

[2017-05-22 14:51] uschtwill commented on #3
Thanks, Tobi! :)

[2017-07-17 19:43] gesellix commented on #2
- [x] `/_stats`
- [ ] `/_active_tasks`
- [x] `/db`

[2017-07-18 11:37] gesellix commented on #2
Hey @uschtwill would you be interested in testing the new metrics? I added `_active_tasks` and detailed database disk stats (by adding `--databases=db-1,db-2` parameter). Your feedback would be appreciated! :-)

[2017-07-25 18:33] uschtwill commented on #2
Hey @gesellix, I'd love to. But I have to warn you, I am currently up to my nose with work, so it might be a while before I get around to trying it.

[2017-07-26 05:37] gesellix commented on #2
@uschtwill Sounds good! Feedback at any time is better than no feedback ;-)

[2017-08-02 00:30] redgeoff opened #4 "Monitoring CouchDB with Prometheus, Grafana and Docker"
@gesellix, I just wanted to say thanks for the awesome project! I've written a post on medium that outlines how to set up [Prometheus from scratch and use your exporter](https://medium.com/@redgeoff/monitoring-couchdb-with-prometheus-grafana-and-docker-4693bc8408f0).

If you are interested, I could create a PR to add a link to this post on the couchdb-prometheus-exporter README.md. No pressure :)

[2017-08-02 06:24] gesellix commented on #4
@redgeoff hey, nice one! Only one note: you might want to mention that the exporter can be configured using a config file instead of env variables. Passing database passwords via env aren't the most secure way.
A PR to link to your article would be nice! :-)

[2017-08-02 19:26] redgeoff commented on #4
Great point. I looked quickly at https://github.com/gesellix/couchdb-prometheus-exporter/blob/f06ba7093d9d8bcae0e9f7e83b62026ed92d2477/example-setup.md and I believe you are recommending the auth config be handled at the Docker env layer, right?

So, we'd just need a `.env` file like:
[code]
And then you can just use something like the following without the username and password:
[code]

Does this

[2017-08-02 20:23] gesellix commented on #4
Ah, yes, that's yet another option how to pass the credentials and it's probably a bit more secure.

What I meant was more about using [Docker Swarm Secrets](https://docs.docker.com/engine/swarm/secrets/), but that won't work for a non-Swarm setup. In fact, also forgot to enable the possibility to configure the exporter via config file. That has been fixed now, but I still need to update the examp

[2017-08-03 14:02] redgeoff commented on #4
Cool, I wasn't even aware of Docker Swarm Secrets. I've mentioned both Docker Swarm Secrets and using a .env file at the bottom of the post.

Also, [here's the PR](https://github.com/gesellix/couchdb-prometheus-exporter/pull/5) :)

[2017-08-03 16:19] gesellix commented on #4
closing, since the PR has been merged.

[2017-08-03 16:19] #4 closed

[2017-08-04 21:06] gesellix commented on #4
@redgeoff a little follow-up on Docker Swarm: see https://github.com/gesellix/couchdb-prometheus-exporter/tree/61ae510a711e6effcdb90409a6f4f5ce76708753/examples/stack for example stacks using Swarm secrets (and configs).
Adding another service like Grafana or Prometheus shouldn't be too hard... ;-)

[2017-08-07 22:05] redgeoff commented on #4
Ah, cool! I used docker compose a bunch and didn't even know that docker swarm has something similar.

[2017-11-20 18:26] pieper commented on #1
If anyone else is wants the stats from a single node install of couchdb 2 here's the line that ended up working for me after reading through this thread:

 curl --user $COUCHUSER:$COUCHPASS -X GET 'http://$COUCHHOST:5984/_node/couchdb@localhost/_stats' | python -m json.tool

[2017-12-04 19:14] xft843 opened #7 "[glog issue?] usage of log_dir flag along w/ alsologtostderr flag"
Previously, I used to used to use '-log_dir' flag along with  when calling couchdb-exporter to indicate where the log file should be located, however, with the addition of the "couchdb-exporter-glog.go" file it seems like the flag is not passed onto glog correctly.

Example of previous cmd:
/bin/couchdb-exporter -telemetry.address=0.0.0.0:9090 -couchdb.uri=${PROTOCOL}://${COREOS_IP}:5984 -alsologt

[2017-12-04 22:40] gesellix commented on #7
I'll have to check, but chances are high that I accidentally dropped that option. If you like you can certainly try to fix it yourself, I would appreciate a pull request!

[2017-12-04 22:48] gesellix commented on #7
Note to self: the issue might have been introduced with PR #3 (relevant commit: https://github.com/gesellix/couchdb-prometheus-exporter/commit/742480c6952b1ed3d131188d4c4ad10f2ec9f593).

[2017-12-27 15:41] gesellix commented on #7
@xft843 Can you check whether the expected log appear in your operating system's tmp directory?

[2017-12-27 23:50] gesellix commented on #7
@xft843 please give the current version a try. It has also been tagged as release `3`, while the relevant commit is https://github.com/gesellix/couchdb-prometheus-exporter/commit/34930d88aaf013440e04ee79408d84b650338282.

[2017-12-28 10:18] gesellix commented on #7
"Works on my machine", closing. Feel free to re-open in case it doesn't work in your environment!

[2017-12-28 10:18] #7 closed

[2018-02-03 00:02] arwilczek90 opened #8 "unable to fetch metrics due to config error"
While trying to set up this as a container on ECS I keep getting this error

[code]
I've tried both as an argument and an environment variable. If I try as an argument and don't encapsulate the uri in quotes it tells me:

[code]

could I get some guidance on this?

[2018-02-03 00:06] arwilczek90 commented on #8
full argument string for debugging (with any identifying info censored)
[code]

[2018-02-03 13:43] gesellix commented on #8
Can you post the very first log message, which should look similar to the one below?

[2018-02-05 15:25] arwilczek90 commented on #8
```I0205 15:24:02.301976 1 couchdb-exporter.go:72] Starting exporter at '0.0.0.0:9984' to read from CouchDB at 'https://hostname -databases=db1'``` is what I get

[2018-02-05 19:06] gesellix commented on #8
The part with `... 'https://hostname -databases=db1'` looks wrong, it shouldn't contain the `-databases` parameter.
Can you share the complete command (with hidden sensitive details) how you run the exporter container? Maybe there are some quotes or escaped characters going wrong.

[2018-02-05 19:59] arwilczek90 commented on #8
So I seem to have found the problem. In ECS you separate args with commas in the command field. Because of this and the lack of escapes the comma separated list of DBs doesn't work. I guess my solution will be 1 container per DB.

https://forums.aws.amazon.com/thread.jspa?threadID=224871

we can go ahead and close this.

[2018-02-05 22:36] gesellix commented on #8
P.S. another thread with several ideas how to tackle the issue: https://forums.aws.amazon.com/thread.jspa?messageID=557929

[2018-02-05 22:37] arwilczek90 commented on #8
Thank you for all your help on this.

[2018-02-17 16:07] arwilczek90 commented on #8
for people searching for an answer on this. I ended up building my ECS task with terraform and when you specify it in the container definition json you don't have to do any escaping or anything for the database argument.

[2018-02-28 13:00] babolivier opened #10 "Expose metrics even when a node is down"
I work with a CouchDB cluster which currently contains 3 nodes. When I stop one of them and send a `GET` request to the exporter, no CouchDB-related metrics can be seen, and the following error can be found in the exporter's logs:

[code]

This means that, for example, if we update our cluster by removing a node but fail to do it properly (so that CouchDB still thinks that node exists), the export

[2018-02-28 16:36] gesellix commented on #10
Thanks for the PR, that helps a lot!

What do you think about adding a label `node` for the metric `up`, so that one could also monitor the availability of each node?

[2018-02-28 16:44] #10 closed

[2018-02-28 17:50] babolivier commented on #10
User-wise, it would be an appreciated improvement I think. I'll look into it as soon as I find some time for this.

[2018-02-28 20:22] gesellix commented on #10
great, thanks!

[2018-03-01 08:05] gesellix opened #12 "Add availability metric per node"
See #10

[2018-03-05 15:25] babolivier opened #14 "Metrics on stopped nodes showing up"
We noticed in our graphs that we have some metrics showing up about nodes that have been stopped.

Earlier today, a colleague of mine was stopping a couple of nodes in our sandbox environment and I could witness that, even though `/_membership` was only returning the only one node still up, a `curl` request on the exporter would still show metrics about the other two (which were down). These disap

[2018-03-05 15:56] gesellix commented on #14
Exciting - I'm not aware of any caching, so I also tend to agree to your second explanation. It seems I'll have to learn a bit more about the prometheus client and how it handles "non-updated" entries.

I guess your PR adding the `node_up` metric will be helpful in that regard.

[2018-03-13 20:28] gesellix opened #15 "Allow to fetch DB stats from `_all_dbs`"
The relevant list of databases should be determined on each scrape - would an additional request per scrape hurt too much?

[2018-03-17 21:49] #12 closed

[2018-03-20 08:07] gesellix commented on #14
With #13 being merged we can probably try to reproduce this issue more easily.

@babolivier have you stumbled over this behaviour in your setup again?

[2018-03-20 20:32] #15 closed

[2018-03-22 21:39] gesellix commented on #14
I can confirm that old Gauges' values are kept for the lifetime of the CouchDB exporter. I'm currently trying to find a way of resetting them.

[2018-03-22 22:07] #14 closed

[2018-03-22 22:09] gesellix commented on #14
Thank you very much for filing this issue! I assume to have fixed it, please give the release https://github.com/gesellix/couchdb-prometheus-exporter/releases/tag/13 a try.

[2018-03-22 22:11] babolivier commented on #14
Awesome, will do!

[2018-03-23 11:42] gesellix opened #20 "review log messages"
- [ ] get rid of 'relaxing on couch@<version>'
  -> convert to a new metric `couchdb_info{version=<version>, node_count=<count(nodes)>, ...} 1`

[2018-03-26 14:40] babolivier commented on #14
Hey @gesellix, I had the time to do a few tests on our cluster with the new release, and it works perfectly fine: as soon as I remove a node from the cluster, the metrics related to the said nodes disappear from the exporter's response :) Thanks!

[2018-03-26 21:56] gesellix commented on #14
Thanks @babolivier for testing and leaving your feedback here! :)

[2018-05-02 16:48] delkant opened #21 "Exporting data from app db to prometheus (not only stats)"
I would like to export data to prometheus from my app's database which is a CouchDB db. How can I accomplish that?

Thanks.

[2018-05-02 21:00] gesellix commented on #21
I guess I don't fully understand what you're aiming at. Exporting documents from a CouchDB is not what this Prometheus exporter is aiming at. Exporting documents is possible via [HTTP/JSON api](http://docs.couchdb.org/en/stable/api/document/index.html), but depending on your actual purpose for the exported data you can probably find ready-to-run tools on the internet.

The couchdb-prometheus-expor

[2018-05-08 22:00] delkant commented on #21
Thanks.

[2018-05-08 22:00] #21 closed

[2018-05-11 15:08] nevans commented on #2
See also `_system`: https://couchdb.readthedocs.io/en/latest/api/server/common.html#node-node-name-system. The most obviously important of those metrics are already in `_stats`, but the `message_queues` counts can occasionally be interesting for guessing at bottlenecks.

[2018-05-28 18:46] devopscloudnexus opened #25 "getting "cannot create log" error and container not starting up"
I am trying to start the container using the example command but I am getting an error.
[code]
Why is this happening and how can I provide more information to help this debug?

[2018-05-28 21:27] gesellix commented on #25
Thank you for hinting me at the wrong docs! The documented example doesn't work, because meanwhile the container has been cleaned up so that the `/tmp` directory doesn't exist anymore, which makes the logging library fail to write into `/tmp`.
You have to decide yourself how you'd like to handle logs and you have the following options:

1) don't write logs to `/tmp`, but to stderr:

[code]

2) pro

[2018-06-02 08:01] gesellix commented on #25
@devopscloudnexus I hope the examples made it work for you. I've updated the README.

[2018-06-02 08:01] #25 closed

[2018-08-17 13:43] coop59 opened #26 "No Stats when using _stats"
Hello Guys,

So I installed this using the following:
docker run -d --name hostname --label triton.network.public="SDC-PCI-Dev-DB" -p 9984:9984 gesellix/couchdb-prometheus-exporter -couchdb.uri=http://xxx.xxx.xxx.xxx:8091 -couchdb.username=admin -couchdb.password=admin_pwd
[code]
-> HELP couchdb_httpd_up Was the last query of CouchDB stats successful.
-> TYPE couchdb_httpd_up gauge
couchdb_httpd_u

[2018-08-21 21:20] gesellix commented on #26
Is the `-couchdb.uri=http://xxx.xxx.xxx.xxx:8091` the correct address for your CouchDB instance?

To clarify: the `/_stats` endpoint is the CouchDB's endpoint to retrieve some stats, but the CouchDB-Prometheus-Exporter (which internally uses the _stats endpoint) is available at `/metrics`.

[2018-10-08 21:35] trainingnote opened #27 "Error collecting stats"
I am using the following command to run the service :

`docker run -p 9984:9984 -v `pwd`/tmp:/tmp gesellix/couchdb-prometheus-exporter -couchdb.uri=http://127.0.0.1:5984 -couchdb.username=fakeuser -couchdb.password=fakepass
`
Unfortunatly as soon as prometheus look to localhost:çç84 I got the following error

`Error collecting stats: error collecting couchdb stats: Get http://localhost:5984/: dial

[2018-11-06 15:04] andreassiegel commented on #27
We are facing the same issue with CouchDB version 2.1.1 and `gesellix/couchdb-prometheus-exporter:latest`.

[2018-11-06 21:00] gesellix commented on #27
When running the exporter inside a container, you'll have to change the `couchdb.uri` from `localhost` to some address "outside" your container. You can find your local ip address with `ip a` or `ifconfig`.

The example at https://github.com/gesellix/couchdb-prometheus-exporter/blob/87675f899d0c8937d3527827e4205c988d7effac/examples/compose/docker-compose.yml#L17 shows how to use a docker network w

[2018-11-09 18:21] gesellix commented on #27
@andreassiegel @trainingnote did the explanation help resolving your issues?

[2018-11-09 18:22] gesellix commented on #26
@coop59 I'm going to close this issue. In case you still encounter problems, please leave a note and/or re-open the issue. Thanks!

[2018-11-09 18:22] #26 closed

[2018-11-09 18:38] coop59 commented on #26
Yeah thats fine sorry I though askes you to that, my bad.

On Fri, Nov 9, 2018, 1:22 PM Tobias Gesellchen <notifications@github.com
wrote:

[2018-11-19 17:34] Cod3N3rd commented on #27
I had the same problem, but changed the environmentvariables to CAPITALS, and then it worked

[2018-11-19 17:41] Cod3N3rd opened #30 "Error collecting stats, unmarshalling error"
I get the following error when running with latest version of couchdb. I have not tried with other versions.
E1119 17:31:30.366886       1 collector.go:186] Error collecting stats: error collecting couchdb stats: error unmarshalling stats: json: cannot unmarshal array into Go value of type lib.StatsResponse

[2018-11-19 23:53] gesellix commented on #30
Can you give the example at https://github.com/gesellix/couchdb-prometheus-exporter/blob/issue-30/examples/compose/docker-compose-integrationtest.yml a try?

I cannot reproduce the error message locally, can you try to find other error messages or share a bit more of your config?

[2018-11-20 10:21] andreassiegel commented on #27
That was already configured. We also had other issues with CouchDB, so it probably was more a problem with the database rather than the metrics exporter.

The problem with refused connections did not persist, so it might have been related to something else.
For instance, we were facing extremely slow response times from the CouchDB API, which might have played a role.

[2018-11-30 13:51] gesellix opened #32 "Add metric to observe staleness of Views"
compare /db/update_seq <> /view...?stale=ok&update=no

[2019-01-07 13:37] gesellix commented on #30
Closing due to missing feedback - feel free to re-open providing more details.

[2019-01-07 13:37] #30 closed

[2019-06-13 10:22] gesellix opened #36 "Provide a default Grafana Dashboard"
In case the [existing dashboard](https://grafana.com/dashboards/10049) by [grafana/eladeza](https://grafana.com/orgs/eladeza) is sufficient, we only need to add a link our readme.

[2019-06-21 20:57] CaBeTuX commented on #3
Please add the variable use in the README! Thanks :)

[2019-07-18 08:57] gesellix opened #39 "Find a way to automatically update the README_metrics.md"
- Update when metrics change
- Maybe ensure that the metrics _don't_ change when they aren't expected to change

[2019-07-18 09:18] moreiramarti opened #40 "Add maintenance metric"
Hello,

I'm wondering if it's possible to get a metric for the _up page to check if a node is in maintenance mode ?

I haven't find it in the existing metrics.

Thanks,
Martinho MOREIRA

[2019-07-18 09:28] gesellix commented on #40
That metric isn't available, yet. We only got a `node_up` metric as of #13.
Would you like to prepare a pull request?

[2019-07-18 09:29] moreiramarti commented on #40
Yeah if it's possible it will be great, to ensure that all nodes are up after a maintenance.

Thanks

[2019-07-18 13:22] gesellix commented on #40
API docs: https://docs.couchdb.org/en/stable/api/server/common.html#get--_up

Example response:

[code]

[2019-07-21 18:47] gesellix opened #41 "Replace golang/glog with k8s.io/klog"
Relates to #7 and https://github.com/golang/glog/pull/13
See https://github.com/kubernetes/klog for details regarding k8s.io/klog.

[2019-07-21 18:49] gesellix opened #42 "Replace namsral/flag with urfave/cli"
Relates to #41

Graceful migration to new parameter names:
1. Warn, that parameters are deprecated and will be removed/renamed
2. Fail at startup, when deprecated parameters are used. Maybe allow override by explicit "i-know-what-i-am-doing"-parameter
3. Remove (ignore) deprecated parameters

[2019-08-01 07:54] #41 closed

[2019-08-01 08:11] #42 closed

[2019-08-31 19:49] gesellix opened #53 "Docker Hub automated builds are flaky"
Error:

[code]

The `TestSemaphore` was introduced with #46.

[2019-09-01 20:14] #36 closed

[2019-09-04 13:31] gesellix commented on #40
So, I'm finally back to your suggestion. After looking into the api docs and at the current implementation of the exporter I have to note that this feature will need another config parameter, namely a list of all node addresses. I'll check in more detail whether this is really necessary, so please bear with me :)

[2019-09-21 00:49] hamedminaee opened #55 "Cannot see any metrics related to the couch"
Hi,

I am trying to usecouchdb-prometheus-exporter so here is what I did:

`docker run -p 9984:9984 gesellix/couchdb-prometheus-exporter --couchdb.uri=http://couchdb:5984 --databases=test_jmeter_test_db_size_80_k --couchdb.username=root --couchdb.password=a-secret
`
and I see the following:

`docker run -p 9984:9984 gesellix/couchdb-prometheus-exporter --couchdb.uri=http://xxxxxxxxx.nip.io:80 --da

[2019-09-21 11:19] gesellix commented on #55
Hi,

did you also add the relevant Prometheus config, so that Prometheus collects the exporter's metrics?
It should look like the example at https://github.com/gesellix/couchdb-prometheus-exporter/blob/51e363bac1d76c99bdb8cdcef3e5c720c8db59c5/examples/grafana/prometheus/prometheus.yml#L49.

[2019-09-22 01:27] hamedminaee commented on #55
@gesellix Thanks gesellix,

I use Openshift and I can see prometheus is there because I see this:

![image](https://user-images.githubusercontent.com/52859974/65381042-add7aa80-dcbe-11e9-9d2f-3f9f17687474.png)

Also as the following link suggest:

https://docs.openshift.com/container-platform/3.11/install_config/prometheus_cluster_monitoring.html

The following command is the only one I see which

[2019-09-22 11:04] gesellix commented on #55
I've no experience with OpenShift, so I can only guess reading the docs. This paragraph seems to be the relevant bit:

Based on that paragraph, without having any idea if that's "the correct way to go": you should probably add labels on your CouchDB-Exporter instance, so that OpenShift's Prometheus Operator finds the exporter.

I have no idea which labels those should be and how they are named. As

[2019-09-22 16:39] hamedminaee commented on #55
Just to double check,

By CouchDB-Exporter instance

 you mean customizing this repo : gesellix/couchdb-prometheus-exporter. Right?

[2019-09-22 20:15] gesellix commented on #55
Yes, you're right, I meant that you'll need to configure Prometheus to scrape the gesellix/couchdb-prometheus-exporter instance at port 9984, so that it appears on the console like the other entries (node-exporter, prometheus-k8s, prometheus-operator).

Regarding the ip address: I would expect that some part of OpenShift or Kubernetes solves that for you, which is why you'll need to add labels on

[2019-09-22 20:24] gesellix commented on #55
... not sure if this one helps: https://github.com/openshift/cluster-monitoring-operator/issues/156#issuecomment-439902982

- Labels need to be declared
- Namespace needs to match
- Prometheus serviceaccount needs to have permission to access the namespace

[2019-09-28 11:55] gesellix commented on #55
Hi @hamedminaee, did you have any progress?

[2019-09-29 17:34] hamedminaee commented on #55
@gesellix  Thanks for the follow up
No not much progress yet

[2019-12-19 13:34] dphilpot opened #56 "Binary Builds?"
Hey,

since i have no idea of "go" or how to build this kind of stuff, i would love to see some binary pre-builds of this project. Further i would suggest having multiple environment builds since not everyone is able to run you exporter in a docker-container.

Hope you find the time for this.

Regards,

Dennis

[2019-12-21 19:53] gesellix commented on #56
Hi @dphilpot,

thanks for your suggestion, that's something I can certainly do using GitHub's releases. I'll look into it soon, but probably not during the holidays. If you already have a small example in another project, I could copy & paste its solution - just leave a link here, that would certainly make things faster for me :)

Best,
Tobias

[2019-12-21 19:54] gesellix commented on #56
Note to self: give https://goreleaser.com/ a try.

[2019-12-21 20:09] dphilpot commented on #56
Hey @gesellix,

thanks for taking credit of this suggestion, as far as i can tell almost every go prometheus exporter got their binaries compiled, for example:

https://github.com/prometheus/node_exporter
https://github.com/prometheus/haproxy_exporter

[2019-12-22 10:58] gesellix commented on #56
Another note to self: the Prometheus developers use a tool "promu" for their release process, see https://github.com/prometheus/promu/blob/master/cmd/release.go for the actual code.

[2019-12-28 18:32] gesellix commented on #56
I've started working on it in #57

[2020-02-12 20:20] #56 closed

[2020-03-01 23:40] gesellix commented on #56
Hey @dphilpot, you can find the first automated release including ready-build binaries at https://github.com/gesellix/couchdb-prometheus-exporter/releases/tag/v27.0.0 (as of #60).

If you're missing a platform or in case something's not working as expected, please file another issue.

Thanks a lot for your patience!

[2020-03-30 18:03] vkuznet opened #61 "Unable to build couchdb exporter"
Hi,
I'm unable to build couchdb exporter, here is the actual error I see:
[code]
and I'm using SL7 with
[code]

Could you please provide advice how to fix that.

Thanks,
Valentin.

[2020-03-30 21:16] gesellix commented on #61
Hi Valentin,

I can confirm your issue when using `go get`. It does work, though, when cloning this repo and running `go build`. I'll need to read the Golang docs to understand why both commands behave differently. :)

[2020-03-30 21:23] gesellix commented on #61
Please try to enable Go 1.11 modules explicitly before installing the module:

[code]

[2020-03-31 14:59] vkuznet commented on #61
yes, I confirm that explicit export of Go 1.11 modules fix the issue. I hope you can update the documentation about that, and I will leave it up to you either to close or keep open this issue.

[2020-04-03 10:32] m1cka opened #62 "prometheus can't scrape exporter"
prometheus config
    - job_name: 'couchdb-exporter'
        scrape_interval: 10s
        static_configs:
          - labels:
              instance: couch-db1
            targets:
              - "192.168.1.100:9984"

docker-compose
services:
  couchdbstats_1:
    image: "gesellix/couchdb-prometheus-exporter:latest"
    command: --couchdb.uri=http://192.168.1.100:5984 --logtostderr
    env_file:

[2020-04-03 10:49] #62 closed

[2020-04-03 10:50] m1cka commented on #62
domainname: mydomain.com
environment:
- COUCHDB.URI=http://couchdb1.mydomain.com:5984
- COUCHDB.USERNAME=admin
- COUCHDB.PASSWORD=mypassword

[2020-04-03 16:22] gesellix commented on #62
Is this still an issue, maybe with the docs?

[2020-04-20 14:51] pankaj-dahiya commented on #55
Hi I am not getting the stated metrics in readme_metrics. Metrics I got are below:

# HELP couchdb_httpd_up Was the last query of CouchDB stats successful.
# TYPE couchdb_httpd_up gauge
couchdb_httpd_up 0
# HELP go_gc_duration_seconds A summary of the GC invocation durations.
# TYPE go_gc_duration_seconds summary
go_gc_duration_seconds{quantile="0"} 8.39e-06
go_gc_duration_seconds{quantile="0.25"}

[2020-04-22 23:37] IndeedNotJames opened #63 "urlencode db names"
Hi! :)
I have multiple dbs containing a `/` in the db name. That's why I can't use `--databases _all_dbs`.

#### Example (db name: `something/test`):

This exporter tries to `GET /something/test`, which leads to a #404, because it's not urlencoded. The correct request would be `GET /something%2Ftest`.

There is no problem with the db itself. Adding `something%2Ftest` to `$DATABASES`/`--databases`

[2020-04-23 19:19] gesellix commented on #55
@pankaj-dahiya since I'm not sure if your issue is related to hamedminaee's one, please open a [new issue](https://github.com/gesellix/couchdb-prometheus-exporter/issues/new/choose) where we can go into detail.
While doing so, please try to apply some basic formatting for the list of metrics, you might for example wrap them in backticks to format them as code to make them more readable:

[code]

T

[2020-04-23 19:22] #61 closed

[2020-04-23 20:07] #63 closed

[2020-04-23 20:14] gesellix commented on #63
Hey, thanks for your issue!

It has been fixed with release v27.1.0, which is available at https://github.com/gesellix/couchdb-prometheus-exporter/releases. The Docker image will be available at https://hub.docker.com/r/gesellix/couchdb-prometheus-exporter/tags?page=1&name=v27.1.0 as soon as the automated build has been finished.

[2020-04-23 20:20] IndeedNotJames commented on #63
Awesome :rocket:

Thank you very much :)

[2020-04-23 22:04] gesellix commented on #63
A little update: v27.1.0 had another issue regarding the Docker Build, the fix is available with https://hub.docker.com/r/gesellix/couchdb-prometheus-exporter/tags?page=1&name=v27.1.1

[2020-05-18 11:21] schferbe opened #67 "Invalid Environment variable names"
I am trying to run `couchdb-prometheus-exporter` with a `systemd` service file. I want to set the Environment variables there so that they don't show up in `ps aux`. However the `.` in the variable names is not supported by `systemd` or `bash`. E.g. I get:

[code]

As an alternative I would use a config file, but I could not find a specification of the format (ini, yml?).

Please give me a pointer

[2020-05-18 13:03] gesellix commented on #67
Seems like I'll have to add the variant with underscores `_`, like you suggested :)

For the time being, please see the example at https://github.com/gesellix/couchdb-prometheus-exporter/issues/3#issuecomment-302900545 using the `env` cli tool. I'm not sure if that's going to work in a `*.service` file.

I would recommend a config file, though. Regarding your question about the file format: it cur

[2020-05-18 14:25] schferbe commented on #67
That is a good solution to my problem. Thank you. But you could keep this issue open for the `_` variants.

[2020-05-18 18:55] gesellix commented on #67
Underscores will be allowed with #68

[2020-05-18 18:55] #67 closed

[2020-05-18 19:09] gesellix commented on #3
Underscores in env variables will be allowed with #68. I also enhanced the README with more details about configuration options.

[2020-05-18 19:09] gesellix opened #69 "Support CouchDB 3.x"
Release Notes: https://docs.couchdb.org/en/latest/whatsnew/3.0.html

[2020-07-24 22:24] gesellix commented on #69
[v27.3.0](https://github.com/gesellix/couchdb-prometheus-exporter/releases/tag/v27.3.0) has successfully been tested on CouchDB 3.1.0 🎉

[2020-07-24 22:24] #69 closed

[2020-08-11 12:42] OEmilius opened #72 "Error collecting stats"
Hello
some times alertmanager inform about node down.

./couchdb-prometheus-exporter --telemetry.address=:9984 --couchdb.uri=http://10.1.1.1:5984 --couchdb.username=admin --couchdb.password=mtr1 --logtostderr --verbosity=7 --log_dir=/tmp stderrthreshold=1

I0811 14:36:40.087946   25547 couchdb-exporter.go:273] adopted logging config: {toStderr:true alsoToStderr:false verbosity:7 stderrThreshold:2

[2020-08-16 20:18] raulmartinezr opened #73 "Issues parsing design documents with couchDB 3.1"
Hi,

It seems therea re some issue with design documents in couchdb version 3.1

[code]

And this is how one of these documents looks: 1 document with two views

[code]

Whith this error many of the metrics are missin, almost all astarting with couchdb

BR,
Raul

[2020-08-16 20:31] gesellix commented on #72
Hi, can you give more details, for example about the CouchDB version, please?

[2020-08-16 20:33] gesellix commented on #73
I'll need to check that one locally, thanks for the example view!

[2020-08-17 07:19] OEmilius commented on #72
v. 2.1.2 .

[2020-08-18 08:36] raulmartinezr commented on #73
Welcome!

Please, give me a ping when solved so I can test it and go further with version 3.10

Thanks!
Raúl

[2020-08-18 15:16] gesellix commented on #72
I can't reproduce that error. Can you check manually, how the response to the following request looks like? Please note that the port `15984` needs to be replaced by the correct port for your CouchDB instance.

[code]

[2020-08-18 15:30] gesellix commented on #73
Minor update: the issue might be caused by the _partitioned_ feature.

[2020-08-19 23:00] gesellix commented on #73
This one happens under the hood, I'll also need to improve the error logs to make such errors visible:

[code]

Support for partitioned views will need a bit more time. I'm considering to disable stats for partitioned databases until then. What do you think?

[2020-08-21 06:49] OEmilius commented on #72
I can't reproduce that error too. Error happen very seldom. May be you suggeest way to locate it. log_dir=/tmp containt only 2 lines about starting exporter. Do you recomend starting flag for get more information if error will happen?
--logtostderr --verbosity=7 --log_dir=/tmp stderrthreshold=1  -- is it enought?

[2020-08-24 07:47] OEmilius commented on #72
Error not happen 4 days. I think problem was in couchdb side - big log size 7GB. After cut log file, the error did not appear.

[2020-08-24 07:52] gesellix commented on #72
Alright, strange that the CouchDB logs such a log message. Thanks for updating! I'm going to close the issue.

[2020-08-24 07:52] #72 closed

[2020-08-24 23:14] raulmartinezr commented on #73
Hi!

I tried and stats are now available in grafana. Here the logs; except first two, the rest seems to be the filter for partitioned databases.

[code]

BR,
Raul

[2020-08-25 05:37] anushreemjoshi opened #75 "Exporter throwing 401 error in Openshift"
I am using Openshift 4.3 and have deployed the exporter in a namespace. I have provided the credentials of the CouchDB instance as environment variable in the deployment
After the deployment, the pod for the exporter has started, however it is not able to connect to the Couch DB instance and throws this error:
collector.go:392] Error collecting stats: error collecting couchdb stats: status 401 Una

[2020-08-25 07:27] gesellix commented on #73
Wow. The first two are surprising to me. I'll have to check whether they cause new issues.

[2020-08-25 12:29] atrishin84 opened #76 "Incorrect couchdb_database_data_size metric value in CouchDB v.2.3.1"
Couchdb-prometheus-exporter do not collect couchdb_database_data_size metric with CouchDB v.2.3.1. Values of this metric constantly zero.

In accordance with official documentation:
https://docs.couchdb.org/en/stable/whatsnew/3.0.html?highlight=data_size#deprecated-feature-removal
disk_size and data_size was deprecated.

CouchDB v.2.3.1 shows database size as:
"sizes":{
	"file": 183235000,
	"exter

[2020-08-25 13:01] gesellix commented on #76
Hey, thanks for the bug report! I have a fix prepared at #74 for CouchDB 3.x.
Would you like to check whether this also fixes your issue for CouchDB 2.x? If so, please run the preview like this (assuming you have Docker installed on a machine with access to your CouchDB instance):

[code]

[2020-08-25 13:17] atrishin84 commented on #76
I have performed next task:
 - update CouchDB from v.2.3.1 to v.3.1.0;
 - update couchdb-prometheus-exporter from v27.2.0 to v28.0.0.
Bug is actual.

[2020-08-26 11:23] anushreemjoshi commented on #75
@gesellix :
Please let me know your inputs for the mentioned issue.
Thanks.

[2020-08-26 19:32] gesellix commented on #75
Can you ensure that the environment variables are configured with non-empty values? Your snippet shows `value:` properties, but I don't know where OpenShift (or any other part of your setup) sets the actual values.

You might want to check the `couchdb-prometheus-exporter` environment when it's running. A command like this should show you the relevant properties, please use the correct container n

[2020-08-26 19:34] gesellix commented on #76
The fix mentioned in my last comment hasn't released, yet, that's why I suggested you to use the pre-released Docker image. I've prepared a fix in #77, though, but I still have to manually reproduce your issue. Thank you for your patience.

[2020-08-27 09:55] atrishin84 commented on #76
I had test with use the pre-released Docker image. Bug was fixed. couchdb_database_data_size and couchdb_database_disk_size metrics has a correct value.

[2020-08-27 19:45] gesellix commented on #76
Thanks for testing!

My local tests show that CouchDB 2.3.1 responds with the data_* values at both places (at top level and unter `sizes`). So I'm a bit surprised that your setup doesn't work. Can you please verify if other metrics like couchdb_up are correct?

Nevertheless I'm going to release #77 today.

[2020-08-27 20:00] gesellix commented on #76
-> https://github.com/gesellix/couchdb-prometheus-exporter/releases/tag/v28.0.1

The Docker image should also be available soon.

I'm going to close this issue now, because I believe your problem should be fixed, but please re-open in case the error still exists.
Thanks for your patience!

[2020-08-27 20:00] #76 closed

[2020-08-29 09:55] gesellix commented on #73
@raulmartinezr can you please check again with the updated preview (`docker pull gesellix/couchdb-prometheus-exporter:partitioned-dbs`)?

I added more detailed log messages to find the cause for the error logs you showed in your last comment. Though I couldn't reproduce the errors, I hope the node names might help you to manually execute the related request (`http://couchdb/_node/{node_name}/_stat

[2020-09-05 10:56] gesellix commented on #73
@raulmartinezr did you have a chance to make another test? I'd like to find the cause for the error messages in your last comment.

[2020-09-16 14:57] raulmartinezr commented on #73
Hi!

I'm back.

I see the same errors
[code]

Maybe it's because my couchdb  is configured as single node?
Stats are reached at http://127.0.0.1:5984/_node/_local/_stats

But it seems stats are collected

![image](https://user-images.githubusercontent.com/4292375/93354536-63d7c500-f83d-11ea-8650-49af0d7ad91e.png)

BR,
Raul

[2020-09-16 16:00] gesellix commented on #73
Thanks! I could reproduce it now and it seems like the error messages only appear when the Prometheus exporter queries the CouchDB instance before it's ready. Can you confirm that you scrape the exporter (so, the CouchDB instance, too) while the CouchDB instance is still starting up?

[2020-09-16 21:29] #73 closed

[2020-09-16 21:36] gesellix commented on #73
I made some minor tweaks (hide the logging about partitioned views). The release is available as [v29.0.0](https://github.com/gesellix/couchdb-prometheus-exporter/releases/tag/v29.0.0). Thanks a lot for your feedback and participating in the "beta" phase :)

[2020-09-21 14:45] skeyby opened #80 "Error in unmarhsall when fetching database details"
I tried to configure the exporter to fetch datas about _users database, now when I ping metrics I get:

Error collecting stats: error collecting couchdb stats: error unmarshalling database '_users' stats: json: invalid number literal, trying to unmarshal "\"578002-g1AAAAGLeJzLYWBg4MhgTmEQTc4vTc5ISXIwNNAzNDYGYgs9I_McoDRTHguQZHgApP4DQVYSA6OkMFFaDkC03AdpkbpKlJYFEC37wVoCiNLSANEyH6RFOp2AlqQEIJlUD_WH-FR

[2020-09-23 10:42] skeyby opened #81 "Boolean values in ini file"
Placing any of the boolean-based flag in the INI file makes GO very unhappy:

exporter.ini:
`databases.views=false
`

outputs:
`F0923 12:41:19.427068    1947 couchdb-exporter.go:239] mismatched type for flag 'databases.views'. Expected 'bool' but actual is 'string'
`

I tried some fancy combinations like false/FALSE/0/whatever but I couldn't get anything to auto-cast to boolean.

[2020-10-03 19:05] gesellix commented on #80
Can you tell me whether you used a released version or if you compiled the exporter locally with a Golang version 1.14+?

[2020-10-03 20:05] skeyby commented on #80
I compiled locally, can’t tell you the go version now but it’s latest available on FreeBSD.

I used the instructions in the readme

Inviato da iPhone

[2020-10-04 10:20] gesellix commented on #80
Alright, I assume you're probably working with Golang 1.14+ (you can find out in your shell via `go version`), which indeed has issues with the current codebase. I'm working on a fix at #83.

[2020-10-05 08:08] #81 closed

[2020-10-05 08:22] gesellix commented on #80
Released with https://github.com/gesellix/couchdb-prometheus-exporter/releases/tag/v29.2.0 this one shouldn't happen anymore. Building locally should also work with all Golang versions of 1.13+.
Thanks for reporting the issue!

[2020-10-05 08:22] #80 closed

[2020-10-06 06:50] skeyby commented on #80
I confirm your assumption:

go-1.14.9,1                    Go programming language

Thanks, I'll try the fix in a few minutes

[2020-10-06 07:50] skeyby commented on #80
@gesellix Maybe I'm doing something wrong, but the error seems to be still there:

E1006 09:05:45.479631   72791 collector.go:392] Error collecting stats: error collecting couchdb stats: error unmarshalling database 'documents' stats: json: invalid number literal, trying to unmarshal "\"1206803-g1AAAAGLeJzLYWBg4MhgTmEQTc4vTc5ISXIwNNAzNDYGYgs9I_McoDRTHguQZHgApP4DQVYSA5PhKqK0HIBouQ_SElhFlJYFEC37QVr8

[2020-10-06 08:18] skeyby commented on #80
I can confirm the error is gone, thanks.👌🏻

[2020-10-24 18:01] gesellix commented on #75
I'm going to close this issue because of missing feedback. Feel free to re-open if you can provide more details (e.g. checking the container's environment for the presence of credentials).

[2020-10-24 18:01] #75 closed

[2020-10-24 18:02] gesellix commented on #53
Builds have become stable.

[2020-10-24 18:02] #53 closed

[2020-11-01 06:12] mehrdadep opened #84 "Bug: Data base not found for database name containing plus sign"
The bug is possibly occurred in `getDatabasesStatsByDbName` function.

- `numbers/+4485` becomes `numbers%2F+4485` instead of `numbers%2F%2B9809`

This will cause this error on pulling metrics:

[code]

[2020-11-01 10:53] gesellix commented on #84
Thanks for your bug report! Before reviewing your pull request, I'd like to collect some details about the underlying issue:

According to [RFC 3986, section 2.2](https://tools.ietf.org/html/rfc3986#section-2.2), we have to consider `+` as reserved character as element of the "sub-delims" set. Depending on the context, such characters might have to be encoded. Golang's implementation of [url.PathE

[2020-11-01 11:29] gesellix commented on #84
I filed https://github.com/apache/couchdb/issues/3236 for discussion on the CouchDB side. Let's give them a few days to give an answer.

@mehrdadep Which CouchDB version do you currently use?

[2020-11-01 12:46] mehrdadep commented on #84
Thank you for this complete explanation about the issue. Our CouchDB version is 2.0.0 and I think since `couchdb-prometheus-exporter` is a client for CouchDB it should be compatible with any version of that. As a side note we're not making these databases from the web ui.

[2020-11-09 16:33] gesellix commented on #84
I'm going to merge your pull request this week - you're not forgotten :)

[2020-11-21 13:01] gesellix commented on #84
I've just released your fix as v29.3.1, packages and the Docker image are building right now.

In other news: the releated CouchDB issue https://github.com/apache/couchdb/issues/3236 got some feedback. Maybe you're interested in following the discussion over there.

Thanks a lot for your contribution and patience!

[2020-11-21 13:01] #84 closed

[2020-11-21 17:38] mehrdadep commented on #84
Yeah sure, thank you

[2021-03-15 08:41] mapno opened #89 "Add a Prometheus monitoring mixin"
Hi! I'm doing a [monitoring mixin](https://monitoring.mixins.dev/) for CouchDB based on your exporter and I wanted to ask if you'd be interested in contributing it to this repository. I think ideally it should live in the exporter.

I've noticed that there is already a closed [issue](https://github.com/gesellix/couchdb-prometheus-exporter/issues/36) to provide a default dashboard. Maybe we can ite

[2021-05-22 18:04] gesellix opened #91 "Add a User-Agent header"
Looks like it currently sends `Go-http-client/1.1` by default.

[2021-10-17 17:35] gesellix opened #104 "Adopt/pass through to CouchDB's native /_prometheus endpoint?"
As of [CouchDB 3.2](https://blog.couchdb.org/2021/10/12/3-2-0/), there is native support for Prometheus metrics, which should more or less match our exporter's metrics. See details at https://docs.couchdb.org/en/latest/api/server/common.html#api-server-prometheus and https://github.com/apache/couchdb/issues/3377.

-> consider transforming this exporter to be
- deprecated for CouchDB >= 3.2
- label

[2022-01-07 17:03] sangeethdba opened #106 "exporter failing"
[code]

[2022-01-24 23:58] sangeethdba opened #110 "adding changes_pending metric from _active_tasks endpoint"
it would be greatfull to have a metric that covers changes_pending  from _active_task couchdb endpoint.

we always  got a good overview replication status based on this metric. would you please see the possibility of adding this metric.

{
      "node":"couchdb@XXXXXXX,
      "pid":"<0.10890.109>",
      "changes_pending":null,   <--------- this atribute.
      "checkpoint_interval":5000,
     ...

[2022-01-24 23:58] sangeethdba commented on #110
@gesellix ^^^

[2022-01-25 00:19] gesellix commented on #110
This attribute currently isn't exposed as metric. Do you think you could provide a pull request?

[2022-01-25 02:04] sangeethdba commented on #110
I'm not a good go developer and I will see if I can find a developer who
can contribute.

On Mon, Jan 24, 2022, 7:19 PM Tobias Gesellchen ***@***.***>
wrote:

[2022-01-25 11:28] gesellix commented on #110
Alright, no pressure. I can have a look into it at the beginning of February.

[2022-01-25 12:47] sangeethdba commented on #110
Thank you so much

On Tue, Jan 25, 2022, 6:29 AM Tobias Gesellchen ***@***.***>
wrote:

[2022-02-03 21:28] go1dshtein commented on #106
hello, I have same problem with couchdb 3.2.1
please help.

[code]

[2022-02-03 21:40] gesellix commented on #106
@sangeethdba can you tell whether you fixed the issue on your side before you closed it?

[2022-02-03 21:42] sangeethdba commented on #106
I donot think this exporter will work for 3.2 version

On Thu, Feb 3, 2022 at 4:40 PM Tobias Gesellchen ***@***.***>
wrote:

[2022-02-03 21:42] gesellix commented on #106
@go1dshtein please provide more details how you set up the exporter: the platform, operating system, Golang version in case you built it yourself. Thanks!

[2022-02-03 21:44] gesellix commented on #106
@sangeethdba ah, you might be correct, I'll have to check whether it works with V3.2

[2022-02-03 23:17] gesellix commented on #106
I couldn't reproduce the error, yet, and it seems like the exporter is compatible with CouchDB 3.2.1 when adjusting the [example setup](https://github.com/gesellix/couchdb-prometheus-exporter/blob/f1ba3b58c91d04bc6c99ad67d5ff460d9f5da0ac/examples/compose/docker-compose-integrationtest.yml) including the fix from https://github.com/apache/couchdb-docker/pull/215. Maybe the error only appears with r

[2022-02-04 00:22] sangeethdba commented on #106
Should we add any additional arguments to exporter to make it work with 3.2

On Thu, Feb 3, 2022, 6:17 PM Tobias Gesellchen ***@***.***>
wrote:

[2022-02-04 17:43] gesellix commented on #106
@sangeethdba no, there's no additional argument required or possible to fix the issue. It's still unclear to me, under which circumstances the error occurs. I'll have to create some kind of a bigger or "older" database and trying to reach bigger update sequences.

Can you tell whether you tried to make the exporer work on older databases or on databases with many updates? Can you try to check agai

[2022-02-04 18:07] sangeethdba commented on #106
Yes exporter was very useful and working on a 3.1 cluster.
All I had issues with 3.2 only .

Exporter failed on 3.2 cluster with no databases and also with empty
database

On Fri, Feb 4, 2022, 12:43 PM Tobias Gesellchen ***@***.***>
wrote:

[2022-02-04 18:22] sangeethdba commented on #106
Small correction to my previous update.

exporter worked on 3.2 cluster which has only 2 databases and they are empty
exporter gave the below error on 3.2 cluster which has 300+ databases.

panic: interface conversion: interface {} is int32, not uint8

goroutine 36 [running]:
github.com/gesellix/couchdb-prometheus-exporter/v30/lib.convertSeq(0x98b680,
0xc0006d1060, 0xc000246a10)
/home/runner/work/

[2022-02-04 18:25] sangeethdba commented on #106
But on 3.1 cluster which has 300+ databses  and all go through many updates
, same exporter is working very effectively

On Fri, Feb 4, 2022 at 1:21 PM Sa ***@***.***> wrote:

[2022-02-04 18:34] gesellix commented on #106
That's strange and I'm not aware of anything being changed in CouchDB 3.2 causing such an issue. I'll have to find the actual request which yields the data causing the panic. I'll add more debug logs to help with this issue - are you using the exporter from one of the pre-built releases/Docker image or are you able to build it locally from the current repository sources? If so, I could put the req

[2022-02-04 18:46] sangeethdba commented on #106
Used the pre built one added in this repo

On Fri, Feb 4, 2022, 1:34 PM Tobias Gesellchen ***@***.***>
wrote:

[2022-02-04 18:47] gesellix commented on #106
To be more specific: we're talking about CouchDB 3.2 - and not CouchDB 3.2.1, right?

[2022-02-04 18:51] sangeethdba commented on #106
If i skip specifying databases ,exporter is working without any issues
even on 3.2 .1cluster .

Overall

exporter works very well on 3.1 cluster with --database=_all_dbs

export works very well on {version="3.2.1"}cluster *with out specifying
--database argument.* if we add even one database( tried with  _users f and
_replicator database also) for --database argument  exporter failing  .

On Fri,

[2022-02-04 18:51] sangeethdba commented on #106
version="3.2.1"}

On Fri, Feb 4, 2022 at 1:47 PM Tobias Gesellchen ***@***.***>
wrote:

[2022-02-04 18:54] gesellix commented on #106
Yeah, `--database=...` enables the code path where the panic occurs (fetching the update_seq of views), but I still wonder why e.g. a database like `_users` makes it fail. 🤔

[2022-02-04 19:06] sangeethdba commented on #106
Tried again *_users,**_replicator* ,first scrape took time (timeout error
in exporter logs E0204 19:04:44.565632   24836 collector.go:422] Error
collecting stats: error collecting couchdb stats: Get "
http://localhost:5984/": dial tcp 127.0.0.1:5984: connect: connection timed
out).   but i got the metrics in subsequent tries.

earlier tried with *_user*( errored with  no database found error). sor

[2022-02-04 20:47] gesellix commented on #106
I'm going to make a fix/workaround, well, let's call it a wild guess :)

[2022-02-05 11:10] gesellix commented on #106
@sangeethdba @go1dshtein I've released [v30.1.0](https://github.com/gesellix/couchdb-prometheus-exporter/releases/tag/v30.1.0), please give it a try and leave some feedback here if it resolves the issue. Thanks!

[2022-02-05 15:41] gesellix commented on #110
Note to self: [/_active_tasks](https://docs.couchdb.org/en/latest/api/server/common.html#active-tasks), [/_scheduler/jobs](https://docs.couchdb.org/en/latest/api/server/common.html#scheduler-jobs), and [/_scheduler/docs](https://docs.couchdb.org/en/latest/api/server/common.html#scheduler-docs) have overlapping content. We have to decide how to choose the best of them (probably depending on the act

[2022-02-06 08:21] go1dshtein commented on #106
wow! thank you very much! works perfect.

[2022-02-06 20:39] gesellix commented on #110
I've just released [30.2.0](https://github.com/gesellix/couchdb-prometheus-exporter/releases/tag/v30.2.0) with a new metric `active_tasks_replication_changes_pending` based on the field from the `/_active_tasks` endpoint. Please give it a try and leave some feedback here. I'm closing this issue now, but feel free to re-open in case anything doesn't work for your setup.

Thanks for your suggestion!

[2022-02-06 20:39] #110 closed

[2022-02-06 20:41] gesellix commented on #106
I'm going to close this issue, hoping that it works for @sangeethdba as well. Thanks for your patience!

[2022-02-06 20:41] #106 closed

[2022-02-06 20:43] sangeethdba commented on #106
I will test tonight and update this thread. Appreciate all your effort in
this issue.

On Sun, Feb 6, 2022, 3:41 PM Tobias Gesellchen ***@***.***>
wrote:

[2022-02-07 16:50] sangeethdba commented on #106
the new version is working with 3.2.1 cluster and it is pulling all database metrics .
@gesellix  thank you so much for fixing the issue  very quickly. appreciate all your efforts of maintaining this repo.

[2022-02-07 17:14] gesellix commented on #106
Great, thanks for leaving the feedback!

[2022-02-08 05:37] sangeethdba commented on #110
i can see couchdb_server_active_tasks_replication_changes_pending{continuous="true",doc_id="xxxx",node_name="couchdb",source="https://ixxxxx/item_store-172/",target="http://localhost:5984/item_store-172/"} 507740

[2022-02-08 08:00] gesellix commented on #110
Ah, my bad, I didn't include the subsystem in the mentioned metric name. You're right, that's the correct metric name, just "beside" `couchdb_server_active_tasks_replication_updated_on`.

So, I'll update the release notes, thanks for keeping me updated! :)

In case anything isn't working as expected, feel free to submit another issue.

[2022-02-15 00:24] kripper commented on #104
Hi, I just installed grafana + prometheus + the new native CouchDB endpoint and tested the 3 published CouchDB dashboards, which obviously don't work because the metric names differ, so I was thinking in translating the Dashboards.
Do you maybe have a list of your metric names and their native equivalent name?

[2022-03-06 20:15] gesellix commented on #104
Hi @kripper, no I didn't create an overview/mapping about the metrics, yet. Any help would be much appreciated!

[2022-04-06 23:10] unlikelyzero commented on #104
@kripper any progress? I'm about to start

[2022-04-06 23:39] kripper commented on #104
Hi, i tried 3 templates and fixed them a little to get a http status graph working and also to get the hosts list.
I believe it would be better to create a new template based on the existing ones.

Why would you still want to use the exporter instead of improving and using the native implementation?

[2022-04-07 00:30] unlikelyzero commented on #104
I personally haven't used the exporter. We just got the native one installed earlier today

[2022-04-07 19:22] gesellix commented on #104
As far as I understood, the native implementation provides metrics on node-level, so you'll have to scrape each node. That's without saying it's better or worse compared to an intermediate process like the exporter.

Could anyone of you who already use the native metrics provide a list or a scraped example of the actual metrics? I didn't find any time, yet, to set it up myself. I'd be interested i

[2022-04-07 19:31] unlikelyzero commented on #104
@gesellix
`curl localhost:5984/_node/_local/_prometheus`

[code]

[2022-04-07 19:37] gesellix commented on #104
@unlikelyzero thanks a lot!

[2022-09-16 08:49] DmitroDemchenko opened #173 "Exporter has broken with key --database=_all_dbs"
Hello! Exported has stopped work with key --database=_all_dbs.
When I've run:
```/usr/local/bin/couchdb-prometheus-exporter --couchdb.uri=http://127.0.0.1:5984 --couchdb.username=${user} --couchdb.password={password}--databases= --telemetry.address {addr}:9984```

My process is running. And after first curl request I have an error:

[code]

If I don't use key --database=_all_dbs my curl request re

[2022-09-16 09:04] DmitroDemchenko commented on #173
There is any limits on documents per DB?  I found, seems I have this issue with DB that have  38339 documents.
If I try use another per DB requests where there are not a lot docs. My request work.

[2022-09-16 19:32] gesellix commented on #173
Can you check which version of the exporter you're currently using? I think that the error should already been fixed with #112, which has been released with [v30.1.0](https://github.com/gesellix/couchdb-prometheus-exporter/releases/tag/v30.1.0).

[2022-09-16 20:02] DmitroDemchenko commented on #173
I see this message:
[code]

[2022-09-17 19:10] gesellix commented on #173
I suppose that you built the exporter manually from sources. Since I don't know how you downloaded the sources, I'll give you a list with several options, hoping that one of them fits for your situation :)

- manually download the current sources (not an official release) as .zip file: https://github.com/gesellix/couchdb-prometheus-exporter/archive/refs/heads/master.zip
- clone the repository with

[2022-09-19 08:41] DmitroDemchenko commented on #173
I've installed like in github instruction:
```export GO111MODULE=on  # in a Windows shell, please replace `export` with `set`
go get github.com/gesellix/couchdb-prometheus-exporter
[code]

[2022-09-19 08:59] gesellix commented on #173
Oh, great, looks like I forgot to update the README....

Can you try this one? That would be the modern approach of installing a Golang module:

[code]

[2022-09-19 09:19] DmitroDemchenko commented on #173
Working! thanks

[2022-09-19 09:54] gesellix commented on #173
Great! I'll keep this issue open as reminder for myself to update the readme.

[2022-09-19 15:34] #173 closed